.nav-bar{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: 20px;
} 
.nav-bar li{
    display: inline;
    padding: 8px 15px;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 5px;
}

.nav-bar li:hover{
    background: #333;
    color: #fff;
}

.navbar-responsive li{
    display: block;
    text-align: justify;
    text-transform: capitalize;
    padding: 10px;
    font-weight: bold;
}

.navbar-responsive li:hover{
    background: #333;
    color: #fff;
}

@media screen and (max-width:767px) {
    .auth-buttons{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .auth-buttons a{
        margin: 5px 0;
    }
}
